<a href="https://colab.research.google.com/github/vardhinisri/main-flow-services/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#creating list
my_list =["creation","animals",39,90,"listoperations"]
print(my_list)

['creation', 'animals', 39, 90, 'listoperations']

In [ ]:
#adding elements to the list
my_list.append(8) #added at the end of the list
print(my_list)

['creation', 'animals', 39, 90, 'listoperations', 8]

In [ ]:
#insertig 2 at index 1
print(my_list)
my_list.insert(1,2)
print(my_list)

['creation', 'animals', 39, 90, 'listoperations', 8]
['creation', 2, 'animals', 39, 90, 'listoperations', 8]

In [ ]:
#modifing list
my_list[4]=1000
print(my_list)

['creation', 2, 'animals', 39, 1000, 'listoperations', 8]

In [ ]:
#removing elements
my_list.remove(8) #removes the element that we given
print(my_list)

['creation', 2, 'animals', 39, 1000, 'listoperations']

In [ ]:
del my_list[1]  #delete the elements at index 1
print(my_list)

['creation', 'animals', 39, 1000, 'listoperations']

In [ ]:
# we can use pop for deleting elements at index and get their values
pop_element = my_list.pop(2)
print("popped element",pop_element)
print("after popping",my_list)

popped element 39
after popping ['creation', 'animals', 1000, 'listoperations']

In [ ]:
#creating dictionary
my_dict= {"engineer": 3,"doctor": 4,"teacher" : 5,"police": 9}
print(my_dict)

{'engineer': 3, 'doctor': 4, 'teacher': 5, 'police': 9}

In [ ]:
#adding elements
my_dict["recruiter"] = 2
print(my_dict)

{'engineer': 3, 'doctor': 4, 'teacher': 5, 'police': 9, 'recruiter': 2}

In [ ]:
#modifing elements
my_dict["engineer"] = 10
print(my_dict)

{'engineer': 10, 'doctor': 4, 'teacher': 5, 'police': 9, 'recruiter': 2}

In [ ]:
#deleting elements
del my_dict["police"]
print(my_dict)

{'engineer': 10, 'doctor': 4, 'teacher': 5, 'recruiter': 2}

In [ ]:
#creting set
my_set = {1,2.3,"work",(1,2,3)}
print(my_set)

{1, 2.3, (1, 2, 3), 'work'}

In [ ]:
my_set = {1,2,3,4,5}
print(my_set)

{1, 2, 3, 4, 5}

In [ ]:
#adding elements to the set
my_set.add(10)
print(my_set)

{1, 2, 3, 4, 5, 10}

In [ ]:
#modifing elements
my_set = my_set.union({4,6,7,8})
print(my_set)

{1, 2, 3, 4, 5, 6, 7, 8, 10}

In [ ]:
#removing elements
my_set.remove(1)
print(my_set)

{2, 3, 4, 5, 6, 7, 8, 10}